{
  "presets": [
    ["@babel/preset-env", { "modules": false, "loose": true }],
    "@babel/preset-react",
    ['@babel/preset-stage-3']
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/transform-modules-commonjs"
      ]
    }
  }
}
