{
  "env": {
    "commonjs": {
      "presets": [["@babel/preset-es2015", { "loose": true }], "@babel/preset-react", "@babel/preset-stage-2"],
      "plugins": ["add-module-exports"]
    },
    "es": {
      "presets": [["@babel/preset-es2015", { "modules": false, "loose": true }], "@babel/preset-react", "@babel/preset-stage-2"]
    },
    "tests": {
      "presets": [["@babel/preset-es2015", { "loose": true }], "@babel/preset-react", "@babel/preset-stage-2"]
    }
  }
}