<!doctype html>
<html><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>React-input-mask by sanniassin</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <body>
    <div class="wrapper">
      <header>
        <h1>React-input-mask</h1>
        <p>Yet another react component for input masking</p>

        <p class="view"><a href="https://github.com/sanniassin/react-input-mask">View the Project on GitHub <small>sanniassin/react-input-mask</small></a></p>


        <ul>
          <li><a href="https://github.com/sanniassin/react-input-mask/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/sanniassin/react-input-mask/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/sanniassin/react-input-mask">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        
        {{ content }}

      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/sanniassin">sanniassin</a></p>
        <p><small>Hosted on GitHub Pages — Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="/themes/minimal/javascripts/scale.fix.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.10/es5-shim.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.10/es5-sham.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js"></script>
  

</body></html>